/* Cart.css */

.cart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-header h2 {
    margin: 0;
}

.clear-cart-btn {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.empty-cart-msg {
    font-size: 18px;
    font-style: italic;
}

.list-group {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }  

.quantity-buttons button {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-item-btn {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-total {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.checkout-section {
    margin-top: 20px;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cart-container,
.cart-item,
.cart-total,
.checkout-section {
    animation: fadeInUp 0.5s ease-in-out;
}
